body{
    font-family: 'Emblema One', cursive;
    color: rgb(16, 15, 83);
    text-align: justify;
}
h1{
    font-size: 60px;
}
.my-story{
    display: flex;
    margin-left: 5%;
}
.two-box{
    width: 50%;
    padding: 1%;
}
.skill-text{
    width: 70%;
}
.skill{
    margin-left: 5%;
}
.skill-icon{
    display: flex;
    box-shadow: 10px 10px 30px black;
    border-radius: 20px;
    border-width: 80%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
}
.skill-icon img{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    
 
}
.skill-icon h4{
    text-align: center;
}
.experience{
    margin-left: 5%;
}
.exp-year{
    box-shadow: 5px 5px 1px rgb(0, 17, 73);
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;
    padding: 2.5px;
    margin-top: 20px;
    border: 2px solid black;
}
.contact{
    background-image: url(images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.contact-box{
    margin: 5%;
    text-align: center;
    padding: 5%;
    color: white;
    font-weight: 900;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(#f6b73c, #4d9f0c);
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: 800;
    color: white;
    
}
footer{
    text-align: center;
    margin-top: 5%;
}